/**
 * 	This is stylesheet for EDC Main screen
 * 
 */

#hide-btn {
	margin-right:	30px;
}

/*Style for general information*/
.blue-header {
	color:	#5990de;
	font-size: 18px;
	font-weight: 300;
}


/*style for paginaton*/
.table-page .pagination {
	margin-top:	0px;
}

.display-opt {
	margin-top:	5px;
}
