/**
 * 	CSS Stylesheet file for all the html pages
 *  This CSS file will specify general style rules for our projects
 *   
 * 	Samsung Blue Hex Color: #0D3697 (rgb 13,54,151)
 *  Author: Team Samsung SCTS
 */

html, body {
	margin:		0 auto;
	padding:	0px;
	vertical-align: baseline;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body {
	min-width:	960px;
}

div {
	margin: 0 auto;
}

header {
	margin: 0 auto;
}

/*
 * .nav-space class is used by header of each page
 */
	.nav-wrapper {
		width:		100%;
		height:		48px;
		left:		0;
		top:		0;
		position:	absolute;
		opacity:		0.85;
		background: url('../img/nav_bar/guide.png') top center repeat;
		background-color: #FFFFFF;
	}
	
	/*
	.nav-inner {
		width:		100%;
		height:		48px;
		left:		0;
		top:		0;
		position:	absolute;
	} */
	
/*style for Samsung LOGO*/
	.nav-logo {
		top:		5px;
		left:		100px; 
		position:	absolute;
	}
		.nav-logo img {
			height: 32px;
		}
	
/*style for the title e.g: electronic data capture*/
	.nav-title {
		top:		5px;
		left:		105px;
		width:		230px; 
		position:	absolute;
		
		font-size:		18px;
		font-weight:	400;
		
		text-shadow:  2px 4px 5px #DFDFDF;
	}
	
/*style for the right part of the nav bar, including username, configure, logout*/
	.nav-right {
		margin-right: 60px;	
	}
	
		.logout-icon {
			opacity:	0.6;
			height:		18px;
		}
		.logout-icon:hover {
			opacity: 1;
		}		
		
		/* Import a font for icon display, display user icon, configure icon*/	
		@font-face {
    		font-family: 'Web Symbols';
        	src: url('WebSymbols-Regular.otf') format('opentype');
    		font-weight: normal;
    		font-style: normal;
     	}
		.ca-icon{
		    font-family: 'Web Symbols'; 
		    font-size: 15px;
		}
		
	.nav:hover {
		background-color: #DFDFDF;
	}
