
/* fixed editor at bottom of page*/
#bottomNav { 
	z-index:	9999; 
	position:	fixed; 
	bottom:		0; 
	left:		0; 
	width:		100%;
	margin-bottom:	0px;
	_position:	absolute; /* for IE6 */
 	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */ 
 	overflow:	visible; 
}

#bottomNav .box-content {
	height: 320px;
}


/* style for list of CRFs */ 
#crf_list {
	min-height:	550px;
}

	#crf_list ul li {
		list-style:	none;
	}

/* style for variable for list*/
#variable_list {
	height: 260px;
}
	#variable_list ul {
		margin-top:	10px;
	}
	#variable_list ul li {
		list-style: none;
	}

	#variable_list_left {
		background-color: 	#EFEFEF;
		overflow-y: 		scroll;
		border-radius:		2px;
		height: 			250px;
	}


/* style for common use script*/
#common_use {
	height:	230px;
}



/* style for sample data test*/
#sample_test {
	height: 230px;
}


/*style for Script editor space */
#editor_space {
	border-right:	1px solid #DDDDDD;
}

	.editor-btn {
		
	}
	
	#code-area {
		margin-top: 0px;
	}
	#code {
		border-right: 1px solid #DDDDDD;
		overflow-y:	scroll;
	}



/*style for footer*/
#validation-footer {
	margin-bottom: 40px;
}

.scriptcol1 {
	width: 40px;
	text-align: center;
}

.scriptcol2 {
width: 280px;
text-align: center;
}
.scriptcol3 {
width: 90px;
}
